/* Definição de fonte */
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") 
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") 
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*Reset/Zerar estilo do navegador*/
*{
    margin: 0;
    padding: 0;
}
/* Estilo desktop */
body{
    background-color: #000000;
}
header img{
    display: block;
    height: auto;
    margin: 75px 0 0 360px;
}
h1, p{
    color: #ffffff;
    text-align: center;
}
h1{
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    margin-top: 60px;
    /* font-family: serif; */
    /* font-family: sans-serif; */
    /* font-family: monospace; */
    /* font-family: cursive; */
    /* font-family: fantasy; */
}
p{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    margin: 24px auto 0;
    width: 792px;
}
h1 span{
    color: #9747FF;
}
a{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
   /*  padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 48px;
    padding-left: 48px; */
}
a:hover{
    background-color: #8233E8;
}
section img{
    display: block;
    margin: 60px auto 0 auto;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

/* Estilo tablet */
@media (max-width: 768px) {
    header img {
        margin: 65px 0 0 60px;
    }
    p {
        width: 648px;
    }
}
/* Estilo mobile */
@media (max-width: 375px) {
    header img {
        margin: 32px 0 0 16px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
        width: 340px;
    }
    section img {
        width: 340px;
        height: 230px;
    }
    a{
        width: 20px;
        height: 251px;
    }
}

/*Classe para envolver vários elementos com a cor branca
.cor-branca{
    color: #ffffff;
}*/

/*Se todos os textos do site são brancos, passar no body
body{
    background-color: #0E1014;
    color: #ffffff;
}
*/
